[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
pytest = "==5.3.2"
rope = "==0.17.0"

[packages]
pyyaml = "==5.2"
dnspython = "==1.16.0"

[requires]
python_version = "3.6"
